In [1]:
def random(a):
    print(a)

In [2]:
random(45)

45

In [3]:
def random(a, b):
    print("a ->", a)
    print("b ->", b)

In [4]:
random(10, 20)

a -> 10
b -> 20

In [5]:
def random1():
    return True

def random2():
    print(True)

In [6]:
result1 = random1()
result2 = random2()

True

In [8]:
print(result1)

True

In [9]:
print(result2) # A function that returns nothing returns None

None

In [12]:
a = int(input())

def simple_function(a):
    if a <= 10:
        return "small"
    else:
        return "BIG"
    
simple_function(a)

15

'BIG'

In [16]:
def random():
    print("Inside Function")
    return True # END OF THE FUNCTION
    return False

In [17]:
random()

Inside Function

True

In [22]:
def introduce_family(my_name, father_name, mother_name, sibling_name):
    print("Me -", my_name)
    print("Father -", father_name)
    print("Mother -", mother_name)
    print("Sibling -", sibling_name)

In [23]:
# POSITIONAL ARGUMENTS
introduce_family("Brad Pitt", "Angelina Jolie", "Stormi", "Bipin Kalra")

Me - Brad Pitt
Father - Angelina Jolie
Mother - Stormi
Sibling - Bipin Kalra

In [24]:
# KEYWORDED ARGUMENTS
introduce_family(
    father_name = "Brad Pitt",
    mother_name = "Angelina Jolie",
    my_name = "Bipin Kalra",
    sibling_name = "Stormi"
)

Me - Bipin Kalra
Father - Brad Pitt
Mother - Angelina Jolie
Sibling - Stormi

In [25]:
def random(a, b, c, d):
    print("a ->", a)
    print("b ->", b)
    print("c ->", c)
    print("d ->", d)

In [26]:
random(1,2,3,4) # positional

a -> 1
b -> 2
c -> 3
d -> 4

In [27]:
random(b = 2, c = 3, d = 4, a = 1)

a -> 1
b -> 2
c -> 3
d -> 4

In [29]:
random(b = 2, c = 3, d = 4, 1)
# PYTHON DOES NOT ALLOW POSITIONAL ARGUMENTS FOLLOWING KEYWORDED ARGUMENTS

SyntaxError: positional argument follows keyword argument (1384326009.py, line 1)

In [31]:
random(1, 2, d = 4, c = 3)
# PYTHON ALLOWS POSITIONAL ARGUMENTS BEFORE KEYWORDED ARGUMENTS

a -> 1
b -> 2
c -> 3
d -> 4

In [32]:
random(1, 2, a = 4, c = 3)

TypeError: random() got multiple values for argument 'a'

In [33]:
# Positional Arguments -> Keyworded Arguments

In [34]:
def simple_interest(p, r, t):
    interest = (p * r * t) / 100
    
    return interest

In [35]:
simple_interest(5000, 5, 2)

500.0

In [36]:
simple_interest(5000, 5)

TypeError: simple_interest() missing 1 required positional argument: 't'

In [38]:
# DEFAULT VALUES
def simple_interest(p, r, t = 2):
    interest = (p * r * t) / 100
    
    return interest

In [39]:
simple_interest(5000, 5, 5)

1250.0

In [40]:
simple_interest(5000, 5) # default value for t will be used

500.0

In [41]:
def simple_interest(p, r = 5, t):
    interest = (p * r * t) / 100
    
    return interest

SyntaxError: non-default argument follows default argument (2511213745.py, line 1)

In [44]:
def simple_interest(p, r = 5, t = 2):
    interest = (p * r * t) / 100
    
    return interest

In [45]:
simple_interest(10000)

1000.0

In [46]:
'''
Question 1 - 
Create a date printing function - 
Should take 4 arguments -> day, month, year and style

Styling Logic - 
style -> 0 -> d/m/y
style -> 1 -> m/d/y
style -> any other value -> Invalid Style

default style is 0.
'''

'\nQuestion 1 - \nCreate a date printing function - \nShould take 4 arguments -> day, month, year and style\n\nStyling Logic - \nstyle -> 0 -> d/m/y\nstyle -> 1 -> m/d/y\nstyle -> any other value -> Invalid Style\n\ndefault style is 0.\n'

In [47]:
def print_date(day, month, year, style = 0):
    if style == 0:
        print(day, month, year, sep = "/")
    elif style == 1:
        print(month, day, year, sep = "/")
    else:
        print("INVALID STYLE!")

In [48]:
print_date(5,11,1997)

5/11/1997

In [49]:
print_date(5,11,1997,1)

11/5/1997

In [50]:
print_date(5,11,1997,15)

INVALID STYLE!

In [51]:
# SCOPE

In [52]:
chief_of_house = "Mother" # global variable

print("Chief of the house is", chief_of_house)

def change_chief():
    chief_of_house = "Father" # local variable
    print("New chief of the house is", chief_of_house)
    
change_chief()

Chief of the house is Mother
New chief of the house is Father

In [53]:
print(chief_of_house)

Mother

In [55]:
x = 10

def random():
    print(x) # No local variable 'x', thus global value is used
    
def random1():
    print(x + 10)
    
random()
random1()

10
20

In [56]:
x = 10 

def random():
    x = 5
    print(x)

In [57]:
random()

5

In [58]:
'''
Trying to access global scope from local -> POSSIBLE
Trying to access local scope from global -> NOT POSSIBLE

IN LOCAL SCOPE -> 
    - Priority 1 -> Local Variable
    - Priority 2 -> Global Variable
'''

'\nTrying to access global scope from local -> POSSIBLE\nTrying to access local scope from global -> NOT POSSIBLE\n\nIN LOCAL SCOPE -> \n    - Priority 1 -> Local Variable\n    - Priority 2 -> Global Variable\n'

In [59]:
a = 10 # Global Variable

def random1():
    a = 50 # Local Variable
    print("Inside random1 -", a)
    
def random2():
    print("Inside random2 -", a)
    
random1()
random2()
print("Outside -", a)

Inside random1 - 50
Inside random2 - 10
Outside - 10

In [60]:
a = 10

def random():
    global a
    
    a = 20
    print(a)
    
random()
print(a)

20
20

In [62]:
if 4 > 5:
    a = 50
else:
    a = 40

In [63]:
a

40

In [64]:
a = 50 if 4 > 5 else 40

In [61]:
# LAMBDA FUNCTIONS

In [65]:
def hello():
    return "HELLO"

In [66]:
hello = lambda: "HELLO"

In [67]:
hello()

'HELLO'

In [73]:
def random1(x):
    return x + 10

In [74]:
random1(5)

15

In [75]:
random2 = lambda x: x + 10

In [76]:
random2(5)

15

In [77]:
random3 = lambda x, y: x + y

In [80]:
random3(y = 5, x = 10)

15

In [81]:
random = lambda x: x + 10 if x > 5 else x - 10

In [82]:
random(4)

-6

In [83]:
# ANONYMOUS FUNCTIONS

In [85]:
(lambda x: x + 10)(5) # 5 is being sent as a value to the argument x

15

In [87]:
import math

math.pi

3.141592653589793

In [89]:
(5.6 // 1) + 1

6.0

In [90]:
math.ceil(5.6)

6

In [91]:
6 == 6.0

True