In [2]:
# create a list -> []

runs_virat = [67, 54, 12, 34, 77, 89, 101, 120]
# there is no limit to how many values you can store in a list

In [3]:
runs_virat

[67, 54, 12, 34, 77, 89, 101, 120]

In [4]:
type(runs_virat)

list

In [5]:
# HOW WOULD I ACCESS A VALUE?

In [6]:
# Values are accessible using indexes which start at 0

In [7]:
# Runs in third match
runs_virat[2]

12

In [8]:
runs_virat[1]

54

In [10]:
len(runs_virat) # the number of elements inside a list

8

In [11]:
# Accessing the last element

In [12]:
n = len(runs_virat)

In [13]:
runs_virat[n - 1]

120

In [14]:
runs_virat[len(runs_virat) - 1]

120

In [15]:
runs_virat[n - 2]

101

In [16]:
# NEGATIVE INDEXING

In [17]:
runs_virat[-1]

120

In [18]:
runs_virat[-2]

101

In [19]:
runs_virat[-len(runs_virat)]

67

In [20]:
runs_virat[10000]

IndexError: list index out of range

In [40]:
runs_virat = [67, 54, 12, 34, 77, 89, 101, 120]

In [41]:
# CRUD -> Create, Read, Update and Delete

In [42]:
# CREATE - [value1, value2, value3]
# READ - a[index]

In [43]:
# UPDATE

In [44]:
runs_virat[0] = 66 # lists are mutable -> values can be modified

In [45]:
runs_virat

[66, 54, 12, 34, 77, 89, 101, 120]

In [46]:
# Adding more elements to the list

In [47]:
runs_virat.append(79)

In [48]:
runs_virat # Append adds value at the end of the list

[66, 54, 12, 34, 77, 89, 101, 120, 79]

In [49]:
runs_virat.insert(1, 23) # a.insert(index, value)

In [50]:
runs_virat

[66, 23, 54, 12, 34, 77, 89, 101, 120, 79]

In [51]:
# ADDING MULTIPLE VALUES AT THE END

In [52]:
runs_virat.extend([143, 99, 96]) # Add multiple values at the end of the list

In [53]:
runs_virat

[66, 23, 54, 12, 34, 77, 89, 101, 120, 79, 143, 99, 96]

In [58]:
a = [10, 20, 30, 40]

In [59]:
a = a + [50] # APPEND

In [60]:
a

[10, 20, 30, 40, 50]

In [61]:
a = a + [60, 70, 80] # EXTEND

In [62]:
a

[10, 20, 30, 40, 50, 60, 70, 80]

In [63]:
'''
Append -> Add one value to the end
Insert -> Add a value at any index of choie
Extend -> Append multiple values at the end
'''

'\nAppend -> Add one value to the end\nInsert -> Add a value at any index of choie\nExtend -> Append multiple values at the end\n'

In [66]:
a = [1, 2, 3] + [4, 5, 6] # Lists get concatenated!

In [67]:
a

[1, 2, 3, 4, 5, 6]

In [68]:
a = "python"

In [71]:
for i in a: # String is an iterable
    print(i)

p
y
t
h
o
n

In [72]:
a = [10, 20, 30, 40, 50, 60, 70, 80]

In [74]:
for i in a: # Lists are also iterable
    print(i)

10
20
30
40
50
60
70
80

In [76]:
# list indexes - 0 to n - 1
# range(0, n) -> 0 to n - 1

In [77]:
a

[10, 20, 30, 40, 50, 60, 70, 80]

In [81]:
for i in range(len(a)):
    print("Element at index", i, "is", a[i])

Element at index 0 is 10
Element at index 1 is 20
Element at index 2 is 30
Element at index 3 is 40
Element at index 4 is 50
Element at index 5 is 60
Element at index 6 is 70
Element at index 7 is 80

In [82]:
i = 0

while i < len(a):
    print(a[i])
    
    i += 1

10
20
30
40
50
60
70
80

In [83]:
'''
Question 1 - 
runs_virat = [67, 54, 12, 34, 77, 89, 101, 120]
In runs_virat -> Calculate, sum, avg, max and min runs.
Without using any internal functions. You can use the length function.
'''

'\nQuestion 1 - \nruns_virat = [67, 54, 12, 34, 77, 89, 101, 120]\nIn runs_virat -> Calculate, sum, avg, max and min runs.\nWithout using any internal functions. You can use the length function.\n'

In [84]:
runs_virat = [67, 54, 12, 34, 77, 89, 101, 120]

In [85]:
sum(runs_virat)

554

In [86]:
sum(runs_virat) / len(runs_virat)

69.25

In [87]:
max(runs_virat)

120

In [88]:
min(runs_virat)

12

In [89]:
def custom_length(a):
    n = 0
    
    for i in a:
        n += 1
        
    return n

In [90]:
n = custom_length(runs_virat)

In [91]:
n

8

In [92]:
def custom_sum(a):
    n = custom_length(a)
    sum_runs = 0
    
    for i in a:
        sum_runs += i
        
    return sum_runs

In [93]:
sum_runs_virat = custom_sum(runs_virat)

In [94]:
sum_runs_virat

554

In [95]:
avg_runs_virat = sum_runs_virat / n

In [96]:
avg_runs_virat

69.25

In [97]:
def custom_max(a):
    n = len(a)
    
    max_runs = a[0]
    
    for i in range(1, n):
        if a[i] > max_runs:
            max_runs = a[i]
            
    return max_runs

In [98]:
max_runs_virat = custom_max(runs_virat)

In [99]:
max_runs_virat

120

In [100]:
def custom_min(a):
    n = len(a)
    
    min_runs = a[0]
    
    for i in range(1, n):
        if a[i] < min_runs:
            min_runs = a[i]
            
    return min_runs

In [101]:
min_runs_virat = custom_min(runs_virat)

In [102]:
min_runs_virat

12

In [103]:
# DELETE

In [104]:
# Two ways to delete an element from a list -> By index, By value

In [112]:
a = [10, 20, 30, 40, 50, 60, 70, 80]

In [113]:
a.pop(3) # will delete element at the specified index

40

In [114]:
a

[10, 20, 30, 50, 60, 70, 80]

In [115]:
a.pop() # will delete the last element by default -> -1

80

In [116]:
a

[10, 20, 30, 50, 60, 70]

In [117]:
a.remove(30) # will delete the value 30 from the list

In [118]:
a

[10, 20, 50, 60, 70]

In [120]:
a.remove(30)

ValueError: list.remove(x): x not in list

In [121]:
a = [10, 20, 30, 30, 30, 40, 50]

In [122]:
a.remove(30)

In [124]:
a # ONLY REMOVES THE FIRST OCCURENCE

[10, 20, 30, 30, 40, 50]

In [125]:
'''
pop -> deletes by index.
remove -> deletes by value. First occurence.
'''

'\npop -> deletes by index.\nremove -> deletes by value. First occurence.\n'

In [126]:
# LISTS ARE HETEROGENEOUS

In [127]:
a = ["bipin", 56, 89, True, [1,2,3], 90.9]

In [128]:
a[0]

'bipin'

In [129]:
a[4]

[1, 2, 3]

In [130]:
a = [10, 20, 30, 40]

In [131]:
last_element = a.pop()

In [132]:
a

[10, 20, 30]

In [133]:
a.insert(0, last_element)

In [134]:
a

[40, 10, 20, 30]

In [135]:
None > 56

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [136]:
n = int(input())

5

In [137]:
l = []
for i in range(n):
    element = input()
    l.append(element)

bipin
is
taking
this
class

In [138]:
l

['bipin', 'is', 'taking', 'this', 'class']

In [139]:
a = input()

5 6 7 8 9 10 45 random

In [140]:
a.split(" ")

['5', '6', '7', '8', '9', '10', '45', 'random']

In [141]:
a = input()

random

In [143]:
list(a)

['r', 'a', 'n', 'd', 'o', 'm']

In [153]:
words = ["zero","one","two","three","four","five","six","seven","eight","nine"]
number = input()

for i in number:
    index = int(i)
    print(words[index], end = " ")
    
    # print(words[int(number[i])],end=" ")

56
five six