In [2]:
'''
Question 1 - 
Rotate a given list by 1 element.

INPUT - [1,2,3,4,5]
OUTPUT - [5,1,2,3,4]
'''

'\nQuestion 1 - \nRotate a given list by 1 element.\n\nINPUT - [1,2,3,4,5]\nOUTPUT - [5,1,2,3,4]\n'

In [3]:
a = [1,2,3,4,5]

In [4]:
a[-1]

5

In [5]:
a[:-1]

[1, 2, 3, 4]

In [7]:
result = [a[-1]] + a[:-1]

In [8]:
result

[5, 1, 2, 3, 4]

In [9]:
last_element = a.pop()

In [10]:
a.insert(0, last_element)

In [11]:
a

[5, 1, 2, 3, 4]

In [14]:
a = [10,20,30,40,50,60,70,80,90,100,30,30,30]

In [16]:
a.index(30) # returns the index of the first occurence only

2

In [17]:
'''
Question 2 (HOMEWORK) -
Write a python function which prints a list of indexes 
of all the occurences of a certain element within the parent list.

INPUT = [10,20,30,30,40], target = 30
OUTPUT = [2,3]
'''

'\nQuestion 2 (HOMEWORK) -\nWrite a python function which prints a list of indexes \nof all the occurences of a certain element within the parent list.\n\nINPUT = [10,20,30,30,40], target = 30\nOUTPUT = [2,3]\n'

In [18]:
a = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

In [25]:
a[0][1]

2

In [26]:
rows = len(a)

In [27]:
rows

4

In [28]:
columns = len(a[0])

In [29]:
columns

3

In [31]:
a = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

In [30]:
# ITERATING OVER 2D LISTS

In [32]:
# MATRIX
rows = len(a)
columns = len(a[0])

for i in range(rows):
    for j in range(columns):
        print(a[i][j], end = " ")
        
    print()

1 2 3
4 5 6
7 8 9
10 11 12

In [35]:
# GENERAL 2D LIST
a = [[1,2,3], [4,5], [6,7,8,9]]

for i in a:
    for j in i:
        print(j, end = " ")
        
    print()

1 2 3
4 5
6 7 8 9

In [38]:
a = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

In [39]:
matrix = True

for i in range(len(a) - 1):
    if len(a[i]) != len(a[i + 1]):
        matrix = False

In [40]:
matrix

True

In [42]:
'''
Question 3 - 
Take a 3X3 matrix as an input from the user.
Given this matrix.
1. Calculate the sum of all the elements in the matrix
2. Calculate the sum of each row
3. Calculate the sum of each column
'''

'\nQuestion 3 - \nTake a 3X3 matrix as an input from the user.\nGiven this matrix.\n1. Calculate the sum of all the elements in the matrix\n2. Calculate the sum of each row\n3. Calculate the sum of each column\n'

In [43]:
matrix = []

for i in range(3):
    row = []
    
    for j in range(3):
        element = int(input())
        row.append(element)
    
    matrix.append(row)

6
7
8
9
20
30
15
4
2

In [44]:
matrix

[[6, 7, 8], [9, 20, 30], [15, 4, 2]]

In [45]:
def generate_matrix(rows, columns):
    matrix = []

    for i in range(rows):
        row = []

        for j in range(columns):
            row.append(int(input()))

        matrix.append(row)
        
    return matrix

In [46]:
a = generate_matrix(2, 3)

1
2
3
4
5
6

In [47]:
a

[[1, 2, 3], [4, 5, 6]]

In [48]:
def sum_all(matrix):
    sum_all = 0 
    
    for i in matrix:
        for j in i:
            sum_all += j
            
    return sum_all

In [49]:
sum_all(a)

21

In [50]:
def sum_each_row(matrix):
    rows = len(matrix)
    columns = len(matrix[0])
    
    for i in range(rows):
        sum_row = 0 
        
        for j in range(columns): # 0 1 2
            sum_row += matrix[i][j]
            
        print("Sum of row", i, "=", sum_row)

In [51]:
sum_each_row(a)

Sum of row 0 = 6
Sum of row 1 = 15

In [53]:
def sum_each_column(matrix):
    rows = len(matrix)
    columns = len(matrix[0])
    
    for j in range(columns):
        sum_column = 0
        
        for i in range(rows):
            sum_column += matrix[i][j]
            
        print("Sum of column", j, "=", sum_column)

In [55]:
sum_each_column(a)

Sum of column 0 = 5
Sum of column 1 = 7
Sum of column 2 = 9

In [56]:
# LIST COMPREHENSION

In [57]:
a = [1,2,3,4,5]

In [59]:
result = []

for i in a:
    result.append(i ** 2)

In [60]:
result

[1, 4, 9, 16, 25]

In [61]:
result = []

for i in range(1, 6):
    result.append(i ** 2)

In [62]:
result

[1, 4, 9, 16, 25]

In [65]:
result = [ i**2 for i in range(1, 6) ]

In [66]:
result

[1, 4, 9, 16, 25]

In [73]:
table = [ [ i*j for j in range(1, 11) ] for i in range(1, 11) ]

In [74]:
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [75]:
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [77]:
for j in range(3):
    for i in range(3):
        print(i, j)

0 0
1 0
2 0
0 1
1 1
2 1
0 2
1 2
2 2

In [78]:
a = [[1, 2, 3, 4],[1, 2, 4, 3], [5, 5, 6, 8]]

In [79]:
sum_each_column(a)

Sum of column 0 = 7
Sum of column 1 = 9
Sum of column 2 = 13
Sum of column 3 = 15

In [80]:
def sum_each_column(matrix):
    rows = len(matrix)
    columns = len(matrix[0])
    
    for j in range(columns):
        print("Going over column", j)
        sum_column = 0
        
        for i in range(rows):
            print("\tAdding element at index", i, j, "which is", matrix[i][j])
            sum_column += matrix[i][j]
            
        print("Sum of column", j, "=", sum_column)
        print("-"*25)

In [81]:
sum_each_column(a)

Going over column 0
	Adding element at index 0 0 which is 1
	Adding element at index 1 0 which is 1
	Adding element at index 2 0 which is 5
Sum of column 0 = 7
-------------------------
Going over column 1
	Adding element at index 0 1 which is 2
	Adding element at index 1 1 which is 2
	Adding element at index 2 1 which is 5
Sum of column 1 = 9
-------------------------
Going over column 2
	Adding element at index 0 2 which is 3
	Adding element at index 1 2 which is 4
	Adding element at index 2 2 which is 6
Sum of column 2 = 13
-------------------------
Going over column 3
	Adding element at index 0 3 which is 4
	Adding element at index 1 3 which is 3
	Adding element at index 2 3 which is 8
Sum of column 3 = 15
-------------------------