# TUPLES

In [5]:
a = [1,2,3,4]

In [6]:
a.append(5) # list size is not fixed

In [7]:
a

[1, 2, 3, 4, 5]

In [9]:
a[0] = 100 # list elements are not fixed either

In [10]:
a

[100, 2, 3, 4, 5]

In [13]:
a = (1,2,3,4) # tuple size is fixed after definition

In [14]:
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
a.remove(4)

AttributeError: 'tuple' object has no attribute 'remove'

In [16]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [17]:
a = tuple(range(1,11))

In [18]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [19]:
a[6] # 0 based indexing

7

In [20]:
a[2:8] # slicing

(3, 4, 5, 6, 7, 8)

In [21]:
a[-1]

10

In [22]:
for i in a:
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [23]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [24]:
type(a)

tuple

In [25]:
a = ()

In [26]:
type(a)

tuple

In [27]:
a = []

In [28]:
type(a)

list

In [29]:
a = [1]

In [30]:
type(a)

list

In [31]:
a = (45)

In [32]:
type(a)

int

In [33]:
# t = ((5 * x) + 9) // 2

In [34]:
a = (45,) # The extra comma tells python that this is a tuple

In [35]:
type(a)

tuple

In [36]:
a = [1,2,3,4,5]

In [37]:
t = tuple(a)

In [38]:
t

(1, 2, 3, 4, 5)

In [39]:
l = list(t)

In [40]:
l

[1, 2, 3, 4, 5]

In [41]:
t1 = (1,2,3)
t2 = (4,5,6)

In [42]:
t3 = t1 + t2

In [43]:
t3

(1, 2, 3, 4, 5, 6)

In [44]:
id(t1)

140619645411840

In [45]:
id(t2)

140620211909824

In [46]:
id(t3)

140620209960512

In [47]:
'''
Question 1 - 
What will be the output of the following?
(4) + (1,2,3)
'''

'\nQuestion 1 - \nWhat will be the output of the following?\n(4) + (1,2,3)\n'

In [48]:
(4) + (1,2,3)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [49]:
4 + [1,2,3]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [50]:
(4,) + (1,2,3)

(4, 1, 2, 3)

In [51]:
'''
Question 2 - 
What will be the output of the following?
type(("random?"))
'''

'\nQuestion 2 - \nWhat will be the output of the following?\ntype(("random?"))\n'

In [52]:
type(("random?"))

str

In [54]:
a = ("random",)
type(a)

tuple

In [55]:
'''
Question 3 - 
Given an input string, write code to generate a list of all its characters.

INPUT - "abc"
OUTPUT - ["a", "b", "c"]
'''

'\nQuestion 3 - \nGiven an input string, write code to generate a list of all its characters.\n\nINPUT - "abc"\nOUTPUT - ["a", "b", "c"]\n'

In [56]:
def convert_to_list(string):
    result = []
    
    for i in string:
        result.append(i)
        
    return result

In [57]:
convert_to_list("random")

['r', 'a', 'n', 'd', 'o', 'm']

In [58]:
list("random")

['r', 'a', 'n', 'd', 'o', 'm']

In [59]:
tuple("random")

('r', 'a', 'n', 'd', 'o', 'm')

In [60]:
# PACKING AND UNPACKING

In [61]:
a = (1, 2, 3)

In [66]:
x, y, z = a # UNPACKING a tuple into individual variables

In [67]:
x

1

In [68]:
y

2

In [69]:
z

3

In [73]:
x, y = (1, 2, 3)
# We will learn how to handle this case in the functional programming lecture
# ADVANCED PYTHON

ValueError: too many values to unpack (expected 2)

In [72]:
w, x, y, z = (1, 2, 3)

ValueError: not enough values to unpack (expected 4, got 3)

In [74]:
a, b = ("random", "strings")

In [75]:
a

'random'

In [76]:
b

'strings'

In [77]:
def foo():
    return 100, 200, 300 # PACKING individual values into a tuple

In [78]:
a = foo()

In [79]:
a

(100, 200, 300)

In [84]:
x, y, z = foo() # PACKING and UNPACKING together

In [85]:
x

100

In [86]:
y

200

In [87]:
z

300

In [89]:
a = [(1, "Bipin"), (2, "Nataraj"), (3, "Sushil"), (4, "Sakshi"), (5, "Yashwanth")]

In [90]:
for i in a:
    print(i)

(1, 'Bipin')
(2, 'Nataraj')
(3, 'Sushil')
(4, 'Sakshi')
(5, 'Yashwanth')

In [91]:
for roll_number, name in a:
    print(f"{roll_number} -> {name}")

1 -> Bipin
2 -> Nataraj
3 -> Sushil
4 -> Sakshi
5 -> Yashwanth

In [92]:
'''
Question 4 -
Write code to swap two variable values using a third variable.
'''

'\nQuestion 4 -\nWrite code to swap two variable values using a third variable.\n'

In [97]:
a = 10
b = 20

In [98]:
temp = a
a = b
b = temp

In [99]:
a

20

In [100]:
b

10

In [104]:
a = 10
b = 20

In [105]:
b = a + b # b -> 30
a = b - a # a = 30 - 10 -> 20
b = b - a # b = 30 - 20 -> 10

In [106]:
a

20

In [107]:
b

10

In [116]:
a = 10
b = 20

In [117]:
a, b = b, a # THE PYTHON WAY!

In [118]:
a

20

In [119]:
b

10

In [120]:
'''
Question 5 -
What will be the output of the following - 
a = 1,2,3,4,5
'''

'\nQuestion 5 -\nWhat will be the output of the following - \na = 1,2,3,4,5\n'

In [121]:
a = 1,2,3,4,5

In [122]:
a

(1, 2, 3, 4, 5)

In [123]:
a = "a", "b", "c"

In [124]:
a

('a', 'b', 'c')

In [125]:
a = ("string", 67, 89.7, True)
# TUPLES ARE ALSO HETEROGENEOUS!

In [126]:
a

('string', 67, 89.7, True)

# SETS

In [127]:
a = {1,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6,7,8,8,8,8}

In [128]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

In [129]:
a[0]

TypeError: 'set' object is not subscriptable

In [130]:
a = {}

In [131]:
type(a)

dict

In [132]:
a = {,}

SyntaxError: invalid syntax (2287826450.py, line 1)

In [137]:
a = set() # EMPTY SET

In [138]:
a

set()

In [139]:
a = {None}

In [140]:
a

{None}

In [141]:
a = {4,2,1,3,7}

In [142]:
a

{1, 2, 3, 4, 7}

In [144]:
a = {1,2,3}

In [145]:
a.add(10)

In [146]:
a

{1, 2, 3, 10}

In [147]:
a.remove(10)

In [148]:
a

{1, 2, 3}

In [149]:
a.remove(4)

KeyError: 4

In [150]:
a.update([6,7,8,10,1,2,3])

In [151]:
a

{1, 2, 3, 6, 7, 8, 10}

In [152]:
a.add(10)

In [153]:
a

{1, 2, 3, 6, 7, 8, 10}

In [154]:
list(a)

[1, 2, 3, 6, 7, 8, 10]

In [155]:
'''
Question 6 - 
Take a string as input.
Print the number of unique characters present inside that string.

"aabbcccd" -> 4
'''

'\nQuestion 6 - \nTake a string as input.\nPrint the number of unique characters present inside that string.\n\n"aabbcccd" -> 4\n'

In [156]:
a = "this is a random string!"

In [157]:
set(a)

{' ', '!', 'a', 'd', 'g', 'h', 'i', 'm', 'n', 'o', 'r', 's', 't'}

In [158]:
len(set(a))

13

In [159]:
s1 = {2,3,4}
s2 = {1,2,4,5,6}

In [160]:
s1.intersection(s2)

{2, 4}

In [161]:
s1 & s2

{2, 4}

In [162]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [163]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [164]:
s1.difference(s2)

{3}

In [165]:
s1 - s2

{3}

In [166]:
s1.symmetric_difference(s2)

{1, 3, 5, 6}

In [167]:
s1 ^ s2

{1, 3, 5, 6}

In [169]:
# SETS CAN ONLY CONTAIN IMMUTABLE DATA TYPES!
# -> Can't contain lists, sets, dictionaries

In [170]:
a = {1, "string", 56.7, True, (1,2,3)}

In [171]:
a

{(1, 2, 3), 1, 56.7, 'string'}

In [172]:
type(a)

set

In [173]:
a_incorrect = {1, "string", 56.7, True, [1,2,3]}

TypeError: unhashable type: 'list'