In [6]:
a = 5
b = 7
c = 6

In [7]:
if (a==b and a==c) and b==c:
    print("equilateral")
elif a==b or b==c or c==a:
    print("isosceles")
else:
    print('scalene')

scalene

In [9]:
'''
Write a program that asks the user to input a number N. 
If N is between 10 and 20, 
your program should ask the user to enter another number M and then:-
Print the sum of the two numbers.
If the sum is greater than equal to 100, 
your program should also print "That is a large sum!" on a new line.
If N is not between 10 and 20, your program should print -1.
'''

'\nWrite a program that asks the user to input a number N. \nIf N is between 10 and 20, \nyour program should ask the user to enter another number M and then:-\nPrint the sum of the two numbers.\nIf the sum is greater than equal to 100, \nyour program should also print "That is a large sum!" on a new line.\nIf N is not between 10 and 20, your program should print -1.\n'

In [12]:
number = int(input())

if number >= 10 and number <= 20:
    number2 = int(input())
    
    result = number + number2
    print(result)
    
    if result >= 100:
        print("That is a large sum!")
else:
    print(-1)

20
100
120
That is a large sum!

In [13]:
bool(5)

True

In [15]:
bool(23456789)

True

In [16]:
bool(1)

True

In [17]:
int(True)

1

In [18]:
1 == True

True

In [19]:
0 == False

True

In [20]:
bool(5)

True

In [21]:
5 == True

False

In [22]:
10 == True

False

In [23]:
'''
Given an integer A representing an year, 
Return 1 if it is a leap year else return 0. 
A year is leap year if the following conditions are satisfied:
Year is multiple of 400.
Else the year is multiple of 4 and not multiple of 100.
'''

'\nGiven an integer A representing an year, \nReturn 1 if it is a leap year else return 0. \nA year is leap year if the following conditions are satisfied:\nYear is multiple of 400.\nElse the year is multiple of 4 and not multiple of 100.\n'

In [27]:
year = int(input())

if year % 400 == 0:
    print(1)
elif year % 4 == 0 and year % 100 != 0:
    print(1)
else:
    print(0)

2004
1

In [28]:
print("something random")

something random

In [29]:
print('something random')

something random

In [30]:
number = int(input())

if number >= 10 and number <= 20:
    number2 = int(input())

    result = number + number2
    print(result)

    if result >= 100:
        print("That is a large sum!")
else:
    print(-1)

10
10
20

In [31]:
print('they can\'t play on the stream')

they can't play on the stream

In [32]:
a = input()
b = input()
c = input()

5
random
thing

In [33]:
a = input()

random something 1

In [34]:
# print("    *   ", "   **  ")

In [35]:
a = 4
b = -5

if a > 0: # True
    if b < 0: # True
        a = a - 2 # a = 4 - 2 = 2 -> a = 2
    elif a > 5:
        a = a - 4
    else:
        a = a + 3
else:
    b = b + 2

In [36]:
a

2

In [37]:
b

-5

In [41]:
0 and 5 and 4

# 0 and 4
# 0

0

In [42]:
False and True

False

In [43]:
True or 5

True