In [1]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [2]:
range(8) # start is automatically considered as 0

range(0, 8)

In [4]:
range(1.7, 8.7) # only uses integer numbers

TypeError: 'float' object cannot be interpreted as an integer

In [6]:
range(1, 8, 0.5) # step size can't be float either

TypeError: 'float' object cannot be interpreted as an integer

In [7]:
range(8, 1, -2)

range(8, 1, -2)

In [8]:
for i in range(8, 1, -2):
    print(i)

8
6
4
2

In [9]:
for i in range(8, 1, 0):
    print(i)

ValueError: range() arg 3 must not be zero

In [10]:
len(range(1,8))

7

In [11]:
len(range(1,8,2))

4

In [12]:
len(range(19, 9, 2))

0

In [13]:
'''
Question 1 - 
Print all numbers from 1 to N using for loop.
Take N as input from the user.
'''

'\nQuestion 1 - \nPrint all numbers from 1 to N using for loop.\nTake N as input from the user.\n'

In [14]:
N = int(input())

for i in range(1, N + 1):
    print(i, end = " ")

10
1 2 3 4 5 6 7 8 9 10

In [16]:
'''
Question 2 - 
Take N as input from the user.
Calculate the sum of all numbers from 1 to N.
'''

'\nQuestion 2 - \nTake N as input from the user.\nCalculate the sum of all numbers from 1 to N.\n'

In [17]:
N = int(input())

final_sum = 0

for i in range(1, N + 1):
    final_sum += i
    
print(final_sum)

'''
Iteration 1 ->
    i = 1
    final_sum = 0
    
    final_sum += i -> 0 + 1 -> 1
    
Iteration 2 ->
    i = 2
    final_sum = 1
    
    final_sum += i -> 1 + 2 -> 3
    
Iteration 3 ...
'''

10
55

In [19]:
'''
Question 3 - FACTORIAL!
Take N an input from the user.
Calculate the product of all numbers from 1 to N.
'''

'\nQuestion 3 - FACTORIAL!\nTake N an input from the user.\nCalculate the product of all numbers from 1 to N.\n'

In [20]:
N = int(input())

factorial = 1

for i in range(1, N + 1):
    factorial *= i
    
print(factorial)

6
720

In [21]:
'''
Question 4 - 
Take N as input from the user.
Calculate the product of all even numbers between 1 and N. Both included.
'''

'\nQuestion 4 - \nTake N as input from the user.\nCalculate the product of all even numbers between 1 and N. Both included.\n'

In [22]:
N = int(input())

even_product = 1

for i in range(2, N + 1, 2):
    even_product *= i
    
print(even_product)

10
3840

In [23]:
'''
Question 5 - 
Take start and end as input from the user.
Calculate the product of all even numbers between start and end.
Both included.
'''

'\nQuestion 5 - \nTake start and end as input from the user.\nCalculate the product of all even numbers between start and end.\nBoth included.\n'

In [24]:
# FISRT WAY
start = int(input("Start - "))
end = int(input("END - "))

even_product = 1

for i in range(start, end + 1):
    if i % 2 == 0:
        even_product *= i
        
print("Even Product -", even_product)

Start - 2
END - 9
Even Product - 384

In [26]:
# SECOND WAY
start = int(input("Start - "))
end = int(input("END - "))

even_product = 1

if start == 0:
    final_start = 2
elif start % 2 == 1:
    final_start = start + 1
else:
    final_start = start
    
for i in range(final_start, end + 1, 2):
    even_product *= i
    
print("Even Product -", even_product)

Start - 1
END - 11
Even Product - 3840

In [28]:
'''
Question 6 -
Print all the numbers from an input N to 1 in reverse order.
N > 1 -> Given
'''

'\nQuestion 6 -\nPrint all the numbers from an input N to 1 in reverse order.\nN > 1 -> Given\n'

In [29]:
N = int(input())

for i in range(N, 0, -1):
    print(i, end = " ")

10
10 9 8 7 6 5 4 3 2 1

In [31]:
'''
Question 6.1 -
Print all the numbers from an input N to 1 in reverse order.
Without using a negative jump!
N > 1 -> Given
'''

'\nQuestion 6.1 -\nPrint all the numbers from an input N to 1 in reverse order.\nWithout using a negative jump!\nN > 1 -> Given\n'

In [33]:
# FIRST WAY
# N = 10
# 0 1 2 3 4 5 6 7 8 9
# 10 9 8 7 6 5 4 3 2 1 <- N - i

N = int(input())

for i in range(N):
    print(N - i, end = " ")

10
10 9 8 7 6 5 4 3 2 1

In [36]:
# SECOND WAY
# -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
# 10 9 8 7 6 5 4 3 2 1

N = int(input())

for i in range(-N, 0):
    print(-i, end = " ")

10
10 9 8 7 6 5 4 3 2 1

In [38]:
name = "Bipin Kalra" # strings are also iterable in python

for i in name:
    print(i)

B
i
p
i
n

K
a
l
r
a