In [1]:
'''
Question 1 - 
Print the following pattern - 
*
**
***
****
*****
Input provided will be number of rows.
'''

'\nQuestion 1 - \nPrint the following pattern - \n*\n**\n***\n****\n*****\nInput provided will be number of rows.\n'

In [2]:
"random"*3

'randomrandomrandom'

In [4]:
n = int(input())

for i in range(1, n + 1):
    print("*" * i)

7
*
**
***
****
*****
******
*******

In [6]:
# USEFUL STRUCTURE BUT NOT REQUIRED IN THIS CASE!
n = int(input())

for i in range(n):
    for j in range(i + 1):
        print("*", end = "")
        
    print()

6
*
**
***
****
*****
******

In [7]:
'''
Question 2 - 
Print the following pattern - 
1
12
123
1234
12345
Input provided will be number of rows.
'''

'\nQuestion 2 - \nPrint the following pattern - \n1\n12\n123\n1234\n12345\nInput provided will be number of rows.\n'

In [12]:
n = int(input())

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = "")
        
    print()

5
1
12
123
1234
12345

In [13]:
'''
Question 3 - 
Print the following pattern - 
*
*2
*2*
*2*4
*2*4*
*2*4*6
Input provided will be number of rows.
'''

'\nQuestion 3 - \nPrint the following pattern - \n*\n*2\n*2*\n*2*4\n*2*4*\n*2*4*6\nInput provided will be number of rows.\n'

In [14]:
n = int(input())

for i in range(1, n + 1):
    for j in range(1, i + 1):
        if j % 2 == 1:
            print("*", end = "")
        else:
            print(j, end = "")
    
    print()

10
*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*
*2*4*6*8
*2*4*6*8*
*2*4*6*8*10

In [15]:
'''
Question 4 - 
Print the following pattern - 
*****
****
***
**
*
Input provided will be number of rows.
'''

'\nQuestion 4 - \nPrint the following pattern - \n*****\n****\n***\n**\n*\nInput provided will be number of rows.\n'

In [17]:
n = int(input())

for i in range(n):
    print("*" * (n - i))

5
*****
****
***
**
*

In [19]:
'''
Question 5 - 
Print the following pattern - 
    *
   **
  ***
 ****
*****
Input provided will be number of rows.
'''

'\nQuestion 5 - \nPrint the following pattern - \n    *\n   **\n  ***\n ****\n*****\nInput provided will be number of rows.\n'

In [20]:
# METHOD 1

n = int(input())

for i in range(n):
    for j in range(n - i - 1):
        print(" ", end = "")
        
    for k in range(i + 1):
        print("*", end = "")
        
    print()

6
     *
    **
   ***
  ****
 *****
******

In [24]:
# METHOD 2

n = int(input())

for i in range(n):
    print(" " * (n - i - 1), "*" * (i + 1), sep = "")

5
    *
   **
  ***
 ****
*****

In [31]:
# METHOD 3

n = int(input())

for i in range(n):
    for j in range(n):
        if i + j >= n - 1:
            print("*", end = "")
        else:
            print(" ", end = "")
        
    print()

5
    *
   **
  ***
 ****
*****

In [30]:
# RANDOM EXAMPLE

for i in range(10):
    for j in range(10):
        if i == 0 or j == 0 or i == 10 - 1 or j == 10 - 1 or i == j:
            print("*", end = "")
        else:
            print(" ", end = "")
        
    print()

**********
**       *
* *      *
*  *     *
*   *    *
*    *   *
*     *  *
*      * *
*       **
**********

In [32]:
'''
Question 6 -
Take a name as input from the user. Print the following pattern using that name.

INPUT - BIPIN
OUTPUT - 
B****
*I***
**P**
***I*
****N
'''

'\nQuestion 6 -\nTake a name as input from the user. Print the following pattern using that name.\n\nINPUT - BIPIN\nOUTPUT - \nB****\n*I***\n**P**\n***I*\n****N\n'

In [33]:
len("BIPIN")

5

In [34]:
random = "BIPIN"

In [35]:
random[0]

'B'

In [36]:
random[1]

'I'

In [37]:
random[2]

'P'

In [38]:
random[len(random) - 1]

'N'

In [39]:
name = input()

n = len(name)

for i in range(n):
    for j in range(n):
        if i == j:
            print(name[i], end = "")
        else:
            print("*", end = "")
        
    print()

SUSHIL
S*****
*U****
**S***
***H**
****I*
*****L

In [40]:
'''
HOMEWORK ->
Input - n

n = 5

55555
54445
54345
54445
55555
'''

'\nHOMEWORK ->\nInput - n\n\nn = 5\n\n55555\n54445\n54345\n54445\n55555\n'

In [41]:
print("value1", "value2", "value3")

value1 value2 value3

In [44]:
print("value1", "value2", "value3", sep = "")

value1value2value3

In [46]:
print("value1", end = " ")
print("value2")

value1 value2

In [53]:
print("A\n")
print()
print("B", end = "")

A


B

In [56]:
name = input() 

print("-"*50)

for i in range(len(name)):
    for j in range (len(name)):
        if j==0:
            print(name[i],end = "")
        else:
            print("*",end = "")
    print()

BIPIN
--------------------------------------------------
B****
I****
P****
I****
N****